<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>管理者ページ</title>
<link rel="stylesheet" th:href="@{/team13/Team13css/Team13Admin.css}">
</head>
<body>

            <h2>予期せぬエラーが発生しました。</h2>
     		<p>もう一度ログインをし直してください</p>
			<div th:if="${errorSource.contains('Team13Admin')}">
			    <a th:href="@{/Team13_Admin_Login}" class="bold_btn">管理者ログインへ戻る</a>
			</div>

			<div th:if="${errorSource.contains('Team13General')}">
			    <a th:href="@{/Team13_General_Login}" class="bold_btn">ユーザーログインへ戻る</a>
			</div>


</body>
</html>
