<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<link rel="stylesheet" th:href="@{/team13/Team13css/Team13Admin.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="~{team13/Team13Header/Team13_Header_Admin :: Admin_Header}"></div>
	
	<form method="post" th:action="@{/Team13_Admin_Logout}">
	<h1>ログアウト確認</h1>
		<h2>ログアウトしますか？</h2>
	<input type="submit" name="back" value="戻る">	
	<input type="submit" name="logout" value="ログアウト">
	</form>
</body>
</html>
