<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	

	<div th:replace="~{team13/Team13Header/Team13_Header_Admin :: Admin_Header}"></div>
		
	<form method="post" th:action="@{/Team13_Update_Stock}">
		<h3>商品一覧</h3>
				
					<img th:if="${shohinData[0].shohin_id == 'A0001'}" th:src="@{/images/ボルT.png}" alt="表示できません" style="max-width: 100%; height: auto;" title="ボルT">
					<span>ボルT 965円</span>
					<input type="number" name="count">
					<button type="submit" name="shohin_id" th:value="${shohinData[0].shohin_id}">更新</button>
					
					<img th:if="${shohinData[1].shohin_id == 'A0002'}" th:src="@{/images/ボールドペン.png}" style="max-width: 100%; height: auto;" title="ボールドペン">
					<span>ボールドペン 816円</span>
					<button type="submit" name="shohin_id" th:value="${shohinData[1].shohin_id}">更新</button>
					
					<img th:if="${shohinData[2].shohin_id == 'A0003'}" th:src="@{/images/ボルシャツ.png}" alt="表示できません" style="max-width: 100%; height: auto;" title="ボルシャツ">
					<span>ボルシャツ 1200円</span>
					<button type="submit" name="shohin_id" th:value="${shohinData[2].shohin_id}">更新</button>
				<br>	
					<img th:if="${shohinData[3].shohin_id == 'A0004'}" th:src="@{/images/ボルパカ.png}" alt="表示できません" style="max-width: 100%; height: auto;" title="ボルパカ">
					<span>ボルパカ 2595円</span>
					<button type="submit" name="shohin_id" th:value="${shohinData[3].shohin_id}">更新</button>
					
					<img th:if="${shohinData[4].shohin_id == 'A0005'}" th:src="@{/images/社章.png}" alt="表示できません" style="max-width: 100%; height: auto;" title="社章">
					<span>社章 726円</span>
					<button type="submit" name="shohin_id" th:value="${shohinData[4].shohin_id}">更新</button>
				<br>
						
				
	</form>


</body>
</html>