@charset "UTF-8";

/*共通スタイル*/
.white-text {
    color: white;
}

.error-text {
    color: red !important;
}

.text-center {
    text-align: center; 
}

.center-box {
    display: flex;
    justify-content: center; /* 横中央 */
    align-items: center;     /* 縦中央 */
    height: 100vh;
}

.btn-sm {
    padding: 0.3em 0.8em;  
    min-width: 80px;       
}



.bold_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: .9em 2em;
    overflow: hidden;
    border: 1px solid #000ac4;
    border-radius: 5px;
    background-color: #fff;
    color: #000ac4;
}

.bold_btn:hover {
    background-color: transparent;
    color: #fff;
}

.bold_btn::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: #000ac4;
    content: '';
    transition: width .3s ease;
}

.bold_btn:hover::before {
    width: 100%;
}


/*画面ごと*/
body.login {
    background-image: url("/images/ログイン用会社画像.png"); /* 写真のパス */
    background-size: cover;       /* 画面いっぱいに拡大縮小 */
    background-position: center;  /* 中央に配置 */
    background-repeat: no-repeat; /* 繰り返しなし */
    height: 100vh;                /* 画面全体を使う */
    display: flex;
    justify-content: center;
    align-items: center;
	}
	



/* ヘッダー全体 */
.bold_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000ac4;
    color: white;
    height: 100px;
	font-style: bold;
}


/* 右側リンクの並び */
.header_right {
    display: flex;
    gap: 2em;
}

/* リンクを白くする（フォントサイズは触らない） */
.header_right a {
    color: white;          /* ← これだけで白くなる */
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    font-weight: 400;
}

/* ホバー時の下線アニメーション */
.header_right a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.header_right a:hover::after {
    width: 100%;
}