<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/Team13/Team13css/Team13General.css}">
</head>
<body>

	<div th:replace="~{team13/Team13Header/Team13_Header_General :: General_Header}"></div>
	<th:block th:object="${team13UserInfoSession}">
<!--		<p th:text="*{shain_id}"></p>	-->
	</th:block>
	
		<h2>商品一覧</h2>
		
		<div class="product-grid">

			<!--ボルT-->
			<div class="product-card">
				<form method="post" th:action="@{/Team13_Cart}">
					<img th:if="${shohinData[0].shohin_id == 'A0001'}" th:src="@{/Team13/Team13images/Team13ボルT.png}" alt="表示できません" style="max-width: 100%; height: auto;" title="ボルT">
					<span>ボルT<br>965円</span>
					<input type="number" name="count" min="0" required>
					<button class="add_btn btn-sm" type="submit" name="shohin_id" th:value="${shohinData[0].shohin_id}">追加</button>
				</form>
			</div>
			
			<!--ボールドペン-->
			<div class="product-card">
				<form method="post" th:action="@{/Team13_Cart}">			
					<img th:if="${shohinData[1].shohin_id == 'A0002'}" th:src="@{/Team13/Team13images/Team13ボールドペン.png}" style="max-width: 100%; height: auto;" title="ボールドペン">
					<span>ボールドペン<br>816円</span>
					<input type="number" name="count" min="0" required>
					<button class="add_btn btn-sm" type="submit" name="shohin_id" th:value="${shohinData[1].shohin_id}">追加</button>
				</form>
			</div>
			
			<!--ボルシャツ-->
			<div class="product-card">
				<form method="post" th:action="@{/Team13_Cart}">	
					<img th:if="${shohinData[2].shohin_id == 'A0003'}" th:src="@{/Team13/Team13images/Team13ボルシャツ.png}" alt="表示できません" style="max-width: 100%; height: auto;" title="ボルシャツ">
					<span>ボルシャツ<br>1200円</span>
					<input type="number" name="count" min="0" required>
					<button class="add_btn btn-sm" type="submit"name="shohin_id" th:value="${shohinData[2].shohin_id}">追加</button>
				</form>	
			</div>	
			
			<!--ボルパカ-->
			<div class="product-card">
				<form method="post" th:action="@{/Team13_Cart}" >
					<img th:if="${shohinData[3].shohin_id == 'A0004'}" th:src="@{/Team13/Team13images/Team13ボルパカ.png}" alt="表示できません" style="max-width: 100%; height: auto;" title="ボルパカ">
					<span>ボルパカ<br>2595円</span>
					<input type="number" name="count" min="0" required>
					<button class="add_btn btn-sm" type="submit" name="shohin_id" th:value="${shohinData[3].shohin_id}">追加</button>
				</form>
			</div>
			
			<!--社章-->
			<div class="product-card">
				<form method="post" th:action="@{/Team13_Cart}">
					<img th:if="${shohinData[4].shohin_id == 'A0005'}" th:src="@{/Team13/Team13images/Team13社章.png}" alt="表示できません" style="max-width: 100%; height: auto;" title="社章">
					<span>社章<br>726円</span>
					<input type="number" name="count" min="0" required>
					<button class="add_btn btn-sm" type="submit" name="shohin_id" th:value="${shohinData[4].shohin_id}">追加</button>
				</form>
			</div>
		
		</div>

</body>
</html>