<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:replace="~{team13/Team13Header/Team13_Header_General :: General_Header}"></div>

	<form method="post" th:action="@{/Team13_Cart}" >
		<h3>商品一覧</h3>
		
			<img th:src="@{/images/ボルT.png}" alt="表示できません" style="max-width: 100%; height: auto;" title="ボルT">
			<span>ボルT 965円</span>
			<button type="submit" name="shohin_id" value="A0001">
				追加	
			</button>
			<img th:src="@{/images/ボールドペン.png}" style="max-width: 100%; height: auto;" title="ボールドペン">
			<span>ボールドペン 816円</span>
			<button type="submit" name="shohin_id" value="A0002">
				追加	
			</button>
			<img th:src="@{/images/ボルシャツ.png}" alt="表示できません" style="max-width: 100%; height: auto;" title="ボルシャツ">
			<span>ボルシャツ 1200円</span>
			<button type="submit" name="shohin_id" value="A0003">
				追加	
			</button>
			<br>	
			<img th:src="@{/images/ボルパカ.png}" alt="表示できません" style="max-width: 100%; height: auto;" title="ボルパカ">
			<span>ボルパカ 2595円</span>
			<button type="submit" name="shohin_id" value="A0004">
				追加	
			</button>
			<img th:src="@{/images/社章.png}" alt="表示できません" style="max-width: 100%; height: auto;" title="社章">
			<span>社章 726円</span>
			<button type="submit" name="shohin_id" value="A0005">
				追加	
			</button>
			<br>
				
<!--		<div th:each="item : ${shohinData}">-->
<!--	th:each="item : ${shohinData}"-->
<!--		        <p th:text="${item.shohinName}"></p>-->
		
<!--		        <button type="submit"-->
<!--		                name="shohin_id"-->
<!--		                th:value="${item.shohinId}">-->
<!--		            追加-->
<!--		        </button>-->

<!--    </div>-->
	</form>
</body>
</html>