<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="~{team13/Team13Header/Team13_Header_General :: General_Header}">
			
		</div>
			<h1>カート商品確認画面</h1>
		<th:block th:each="data:${cartList}" th:object="${data}">
			<img th:src="@{*{shohin_photo}}">
			<p th:text="*{shohin_nm} + *{shohin_num} + 個"></p>
			
		</th:block>
		

	<form>
		<button type="submit"  th:formaction="@{/Team13_General_Home}" formmethod="get">
			戻る
		</button>
		<button type="submit" name="complete" th:formaction="@{/Team13_Cart_Complete}" formmethod="post" value="shohin_id">
			完了
		</button>
	</form>
</body>
</html>