<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<link rel="stylesheet" th:href="@{/team13/Team13css/Team13General.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:replace="~{team13/Team13Header/Team13_Header_General :: General_Header}">
			
	</div>
	
		<div class="confirm-card">
			
				<div class="text-center">
					
					<h1 class="complete text-center">ログアウトしますか？</h1>
					<a class="logout-link" th:href="@{/Team13_General_Logout}">ログアウト</a>
				
				</div>
			
			<form method="post" th:action="@{/Team13_General_Logout}">
				
				<input type="submit" name="back" value="戻る">	
	
			</form>
		</div>
		
</body>
</html>