<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<link rel="stylesheet" th:href="@{/Team13/Team13css/Team13General.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="login">
	<div class="center-box">
		
		<form method="post" th:action="@{/Team13_General_Login}"th:object="${login}">
			
			<h1 class="login_title">ユーザログイン</h1>
			
			<p>ログイン情報を入力してください</p>
			<p>社員ID:<input type="text" th:field="*{shainId}"></p>
			<th:block th:if="${#fields.hasErrors('shainId')}" th:errors="*{shainId}"></th:block>
			
			<p>メールアドレス:<input type="text" th:field="*{shainEmail}"></p>
			<th:block th:if="${#fields.hasErrors('shainEmail')}" th:errors="*{shainEmail}"></th:block>
			

			
			<button class="bold_btn">ログイン</button>
			<p th:text="${error}"></p>
		</form>
		
	</div>
</body>
</html>