<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		
	<div th:replace="~{team13/Team13Header/Team13_Header_General :: General_Header}">
			
	</div>
		<h1>ユーザ情報</h1>
		
		<p th:text="|管理者ID：${login.shain_id}|"></p>
	    <p th:text="|ユーザ名：${login.shain_nm}|"></p>
	    <p th:text="|メールアドレス：${login.shain_email}|"></p>
	    <p th:text="|電話：${login.shain_tell}|"></p>
	    <p th:text="|住所：${login.shain_adress}|"></p>
		
		<a th:href="@{/Team13_General_Logout}">ログアウト</a>
</body>
</html>