<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<link rel="stylesheet" th:href="@{/team13/Team13css/Team13General.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    
    <div th:replace="~{team13/Team13Header/Team13_Header_General :: General_Header}">
    </div>
    
	<div class="confirm-card">

	    <!-- ★ 左上に戻るボタン配置 ★ -->
	    <form method="post" th:action="@{/Team13_General_Logout}">
	        <button type="submit" name="back" class="back-btn">← </button>
	    </form>

	    <div class="text-center">
	        <h1 class="complete text-center">ログアウトしますか？</h1>

	        <a href="#" class="logout-link"
	           onclick="document.getElementById('logoutForm').submit(); return false;">
	            ログアウト
	        </a>

	        <form id="logoutForm" method="post" th:action="@{/Team13_General_Logout_Exec}" style="display:none;"></form>
	    </div>

	</div>

        
</body>
</html>
