<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form method="post" th:action="@{/Team13_General_Home}">
	<h3>商品一覧</h3>
<br>
	<img src="../画像/ボルT.jpg" alt="表示できません" width="100" height="150" title="ボルT">
<br>
	<img src="../画像/ボルシャツ.jpg" alt="表示できません" width="100" height="150" title="ボルシャツ">
	<br>	
	<img src="../画像/ボルパカ.jpg" alt="表示できません" width="100" height="150" title="ボルパカ">
	<img src="../画像/社章.jpg" alt="表示できません" width="100" height="150" title="社章">
	<img src="../画像/ボールドペン.jpg" alt="表示できません" width="100" height="150" title="ボールドペン">
		<p><input type="submit" value="追加"></p>
</form>
</body>
</html>