<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:replace="~{team13/Team13Header/Team13_Header_General :: General_Header}">
			
	</div>
	
		<h3>購入完了しました！ないっそー</h3>
		<a th:href="@{/Team13_General_Home}">
			ホームへ戻る
		</a>
<!--		<button th:formaction="@{/Team13_General_Home}" th:formmethod="get">-->
<!--			ホームへ戻る-->
<!--		</button>-->
	<form method="post" th:action="@{/Team13_Recipt}">
		<input type="submit" value="領収書作成"/>
	</form>
</body>
</html>